/** GENERAL */

html,
body {
  height: 100%;
}

body {
  padding-top: 50px;
  font-family: "Source Sans Pro", sans-serif
  font-size: 16px;
}

pre {
  white-space: nowrap;
  word-wrap: normal;
}

h1 {
  font-size: 46px;
}

/* Wrapper for sticky footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Navbar */

.navbar {
  font-size: 18px;
  background-color: #fff;
}

.navbar-brand {
  padding-top: 18px;
  font-weight: 500;
}

.navbar-nav {
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar .navbar-nav > li:not(:last-child) {
  border-right: 2px solid #eee;
}

/* Page header */

.page-header {
  background-color: #0C7979;
  color: #fff;
  margin: 0 0 25px;
  padding: 9.5px 0 22px;
}

/** MASTHEAD */

#masthead { 
 min-height: 250px;
}

#masthead h1 {
 font-size: 30px;
 line-height: 1;
 padding-top:20px;
}

#masthead .well {
 margin-top:8%;
}

@media screen and (min-width: 768px) {
  #masthead h1 {
    font-size: 50px;
  }
}

/* Content */

#content img {
  max-width: 100%;
}

/* TOC */
#toc > ul > li {
  display: none;
}

/** Sidebar */

.affix-top, .affix {
  position: static;
}

#nav {
  padding: 0;
}

#nav ul {
  list-style: none;
}

#nav > ul {
  padding-top: 5px;
  padding-left: 10px;
}

#nav > ul > li > ul li {
  padding-left: 20px;
}

#nav > ul ul {
  display: none;
  padding-left: 0px;
  padding-right: 0px;
}

#nav ul > li > a {
  padding-top: 5px;
  padding-left: 5px;
}

#nav ul > .active > a {
  font-weight: bold;
  border-right: 2px solid #777777;
}

@media (min-width: 979px) {
  #sidebar .affix-top {
    position: static;
    margin-top:30px;
    width:263px;
  }
  
  #sidebar .affix {
    position: fixed;
    top:70px;
    width:263px;
  }

  #nav ul > .active > ul {
    display: block;
  }
}

#nav > ul li > a {
  position: relative;
  display: block; 
}

/*#nav > ul > li > ul {
  display: none;
}

#nav > ul > li > ul > li {
  display: none;
}

#nav > ul > li.active {
  display: block;
}

#nav > ul > li > ul > li.active {
  display: block;
}*/

/*
#sidebar > .nav > li > a {
  padding: 2px;
}

#sidebar > .nav ul {
  display: none;
  font-size: 12px;
  list-style: none;
  padding-left: 20px;
}

#sidebar > .nav > .active > ul {
  display: block;
}

#sidebar li a {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#sidebar ul > li li {
  font-size: 12px;
}

#sidebar li.active > a {
    border-right: 2px solid #777777
}*/

/* User manual index */

#user-manual-index ul > li > ul {
  display: none;
}

/* FOOTER */
#footer {
  height: 60px;
  background-color: #f5f5f5;
}

.container .credit {
  margin: 20px 0;
  text-align: center;
}

#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}

/** CALLOUTS */

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}
