/** GENERAL */

html,
body {
  height: 100%;
}

body {
  padding-top: 50px;
  font-size: 16px;
}

a {
  color: #009DB7;
}

h1 {
  font-size: 46px;
}

body, h1, h2, h3, h4, h5, p>strong, .nav {
  font-family: 'Open Sans', sans-serif;
}

code {
  color: rgb(51, 51, 51);
  background-color: #f7f7f7;
}

/* Wrapper for sticky footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/*
 * Scroll to the correct anchor position for top-fixed nav.
 * http://stackoverflow.com/questions/10732690/offsetting-an-html-anchor-to-adjust-for-fixed-header
 */
.container h2[id]:before {
  content: "";
  display: block;
  height: 2.25em;
  margin-top: -2.25em;
}

.container h3[id]:before {
  content: "";
  display: block;
  height: 2.5em;
  margin-top: -2.5em;
}

.container h4[id]:before {
  content: "";
  display: block;
  height: 3.25em;
  margin-top: -3.25em;
}

/* Navbar */

.navbar .navbar-brand, .navbar-default .navbar-nav > li > a {
  color: rgb(3, 143, 167);
}

.navbar {
  font-size: 18px;
  background-color: #fff;
  /*background-color: #eee;*/
}

.navbar-brand {
  font-weight: 600;
  letter-spacing: 1px;
  padding-top: 18px;
}

.navbar-header img {
  width: 35px;
  height: 32px;
  margin-top: 12px;
  margin-right: 10px;
}

.navbar-nav {
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar .navbar-nav > li:not(:last-child) {
  border-right: 2px solid #e7e7e7;
}

/* Header */

.header {
  background-color: rgba(1, 118, 138, .9);
  /*background-color: #0C6979;*/
}

.header h1, h2, h3, h4, h5 {
  color: #fff;
}

/** Index page */

.index-header  {
/*  background: linear-gradient(to bottom, rgba(255,255,255,.5) 0%, rgba(255,255,255,.5) 100%), url(../img/boxes.png);*/
  background-size: 150px;
}

.index-header .background-color {
  /*rgba(23, 153, 179, 0.89)*/
  background-color: rgba(1, 118, 138, .9);
}

.banner {
  padding-top: 68px;
  padding-bottom: 63px;
}

.banner h1 {
  font-size: 100px;
  padding-bottom: 19px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: bold;
}

.banner h2 {
  font-weight: 200;
}

.banner .doc-btn {
  margin-top: 27px;
  margin-bottom: 24px;
  margin-right: 5px;
  font-size: 23px;
}

.banner .github-btn {
  padding-top: 4px;
  margin-left: 10px;
  padding-left: 10px;
  display: inline-block;
}

.container .pitch {

}

/* Content pages */

.page-header {
  margin: 0 0 25px;
  padding: 16.5px 0 22px;
}

.doc-container {
  margin-top: 40px;
}

.docs .no-margin-top {
  margin-top: 0px;
}

.docs {
  line-height: 1.6em;
}

.docs h2, h4 {
   /*color: #038FA7;*/
    color: #d14;
}

.docs h1, h3, h5 {
/*  color: #038FA7;*/
 color: #d14;
}

.docs h1 {

}

.docs h2 {

}

.docs h3 {

}

.docs h4 {

}

.docs p {
  margin-bottom: 20px;
}

.docs > ul, .toc {
  margin-top: 20px;
  margin-bottom: 20px;
}

.docs img {
  max-width: 100%;
}

.docs pre {
/*  white-space: nowrap;
  word-wrap: normal;*/
}

.docs pre code {
  background-color: #f5f5f5;
}

.docs {
  font-family: 'Merriweather', sans-serif;
  font-size: 15px;
}

.docs .pitch {
  color: #848484;
  margin-top: 0px;
  margin-bottom: 32px;
  font-style: italic;
}

.docs .tab-pane {
  display: none;
}

.docs .tab-pane.active {
  display: block;
}

#toc > ul > li {
  display: none;
}

#user-manual-index ul > li > ul {
  display: none;
}

/* Sidebar */

@media screen and (min-width: 992px) {
  #sidebar ul > .active > ul {
    display: block;
  }

  /* Widen the fixed sidebar */
  #sidebar.affix, 
  #sidebar.affix-bottom {
    width: 213px;
  }

  #sidebar.affix {
    position: fixed; /* Undo the static from mobile first approach */
    top: 80px;
  }

  #sidebar.affix-bottom {
    position: absolute; /* Undo the static from mobile first approach */
  }
}

@media screen and (min-width: 1200px) {
  /* Widen the fixed sidebar again */
  #sidebar.affix-bottom,
  #sidebar.affix {
    width: 263px;
  }
}

#sidebar {
  padding: 0;
  font-size: 15px;
}

#sidebar ul {
  list-style: none;
}

#sidebar > ul {
  padding-left: 10px;
}

#sidebar ul > .active > a { 
  color: #d14;
  /*color: #fd0909; logo color*/
}

#sidebar > ul > li > ul li {
  padding-left: 20px;
}

#sidebar > ul ul {
  display: none;
  padding-left: 0px;
  padding-right: 0px;
}

#sidebar li a {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#sidebar ul > li > a {
  padding-bottom: 5px;
  padding-left: 5px;
  position: relative;
  display: block;
}

/* Footer */

#footer {
  height: 60px;
  margin-top: 30px;
  background-color: #eee;
  border-top: 1px solid #e7e7e7;
}

#footer .credit {
  margin: 19px 0;
  text-align: center;
}

#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}

/* Callouts */

.callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.callout p:last-child {
    margin-bottom: 0;
}
.callout code {
    border-radius: 3px;
}
.callout+.callout {
    margin-top: -5px;
}
.callout-info {
    border-left-color: #5bc0de;
}
.callout-info h4 {
    color: #5bc0de;
}
.callout-warning {
    border-left-color: #f0ad4e;
}
.callout-warning h4 {
    color: #f0ad4e;
}
.callout-danger {
    border-left-color: #d14;
}
.callout-danger h4 {
    color: #d14;
}