<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-2">
        <h4>Projects</h4>
        <ul class="list-unstyled">
          <li><a href="/atomix">Atomix</a></li>
          <li><a href="/copycat">Copycat</a></li>
          <li><a href="/catalyst">Catalyst</a></li>
        </ul>
      </div>
      <div class="col-sm-2">
        <h4>Documentation</h4>
        <ul class="list-unstyled">
          <li><a href="/atomix/docs">Atomix</a></li>
          <li><a href="/copycat/docs">Copycat</a></li>
          <li><a href="/catalyst/docs">Catalyst</a></li>
        </ul>
      </div>
      <div class="col-sm-2">  
        <h4>Community</h4>
        <ul class="list-unstyled">
          <li><a href="/community#support">Support</a></li>
          <li><a href="/community#contributing">Contributing</a></li>
          <li><a href="/community#committers">People</a></li>
        </ul>
      </div>
      <div class="col-sm-5 col-sm-offset-1 text-right license">
        <p>The Atomix stack is brought to you by the <a href="/community/#committers">Atomix crew</a> along with our excellent <a href="/community/#contributors">contributors</a>. The Atomix stack is <a href="https://github.com/atomix">open source</a> and is licensed under the <a href="https://www.apache.org/licenses/LICENSE-2.0.html">Apache 2.0 License</a>.</p>
      </div>
    </div>
  </div>
</footer>