<a href="http://www.reactivemanifesto.org/" id="reactive-ribbon"><img style="border: 0; position: fixed; right: 0; top:0; z-index: 9000" src="//d379ifj7s9wntv.cloudfront.net/reactivemanifesto/images/ribbons/we-are-reactive-black-right.png"> </a>

<header class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">
        <span class="navbar-brand-logo" style="background-image: url('/assets/img/{{ page.project }}.png')"></span>
        {{ project-name }}
      </a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/atomix">Atomix</a></li>
        <li><a href="/copycat">Copycat</a></li>
        <li><a href="/catalyst">Catalyst</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</header>