        <ul class="nav nav-stacked" id="sidebar">
{% if page.menu == "getting-started" %}
          <li><a href="#distributedmap">DistributedMap</a></li>
          <li><a href="#distributedset">DistributedSet</a></li>
          <li><a href="#distributedlock">DistributedLock</a></li>
          <li><a href="#sec3">Section 3</a></li>
          <li><a href="#sec4">Section 4</a></li>
{% elsif page.menu == "user-manual" %}
          <li><a href="#sec0">Section 0</a></li>
          <li><a href="#sec1">Section 1</a></li>
          <li><a href="#sec2">Section 2</a></li>
          <li><a href="#sec3">Section 3</a></li>
          <li><a href="#sec4">Section 4</a></li>
{% endif %}
        </ul>