---
---

// Colors

$white: #fff;
$medium-gray: #eee;
$dark-gray: #d4d4d4;

$text-color: #333;

$link-color: #009DB7;
$link-color-bright: #FF2D62;

$nav-color: #038fa7;
$nav-separator-color: #e7e7e7;

$code-color: rgb(51, 51, 51);
$code-bg-color: #f5f5f5;
$code-bg-color-dark: #474949;

$header-color: #01768a;
$pitch-color: #848484;

$footer-bg-color: $medium-gray;
$footer-border-color: #e7e7e7;

$callout-border-color: $medium-gray;
$callout-info-color: #5bc0de;
$callout-warning-color: #f0ad4e;
$callout-danger-color: #d14;

$icon-color: #212121;

// Fonts

$heading-fonts: 'Open Sans', sans-serif;
$content-fonts: "Helvetica Neue", Helvetica, Arial, sans-serif;
$doc-fonts: 'Merriweather', sans-serif;

// Base HTML tags

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;

  padding-top: 50px;
  font-size: 16px;
}

a {
  color: $link-color;
}

h1 {
  font-size: 46px;
}

body, h1, h2, h3, h4, h5, p > strong {
  font-family: $heading-fonts;
}

hr {
  margin-top: 28px;
  margin-bottom: 28px;
}

code {
  background-color: $code-bg-color;
}

// Base styles

@media (max-width: 1456px) {
  #reactive-ribbon {
    display: none;
  }
}

.flex {
  flex: 1 0 auto;
}

.no-margin-top {
  margin-top: 0px;
}

.colored-background {
  background-color: $header-color;
}

.white-background {
  background-color: $white;
}

.gray-background {
  background-color: $medium-gray;
}

.dark-gray-background {
  background-color: $dark-gray;
}

/*
 * Scroll to the correct anchor position for top-fixed nav.
 * http://stackoverflow.com/questions/10732690/offsetting-an-html-anchor-to-adjust-for-fixed-header
 */
.container {
  h2[id]:before {
    content: "";
    display: block;
    height: 2.25em;
    margin-top: -2.25em;
  }

  h3[id]:before {
    content: "";
    display: block;
    height: 2.5em;
    margin-top: -2.5em;
  }

  h4[id]:before {
    content: "";
    display: block;
    height: 3.25em;
    margin-top: -3.25em;
  }
}

// Navbar

.navbar {
  font-size: 18px;
  background-color: $white;

  .navbar-brand {
    font-weight: 600;
    letter-spacing: 1px;
    padding-top: 18px;
    
    .navbar-brand-logo {
      padding: 18px 20px;
      margin-left: -5px;
      background-repeat: no-repeat;
      background-size: 36px 36px;
      background-position: left center;
    }
  }

  .navbar-nav {
    padding-top: 10px;
    padding-bottom: 10px;

    li > a {
      color: $link-color;
      padding-top: 10px;
      padding-bottom: 10px;
    }

    li:not(:last-child) {
      border-right: 2px solid $nav-separator-color;
    }
  }

  .nav {
    font-family: $heading-fonts;
  }
}

// Headers

.index-header, .content-header {
  background-color: $header-color;

  h1, h2, h3, h4, h5 {
    color: #fff;
  }
}

// .index-header {
//   background: linear-gradient(to bottom, rgba(255,255,255,.5) 0%, rgba(255,255,255,.5) 100%), url(../img/boxes.png);
//   background-size: 150px;
// }

.content-header {
  margin: 0 0 25px;
  padding: 16.5px 0 22px;
}

// Banner

.banner {
  padding-top: 68px;
  padding-bottom: 63px;

  h1 {
    font-size: 100px;
    padding-bottom: 19px;
    font-family: $content-fonts;
    font-weight: bold;
  }

  h2 {
    font-weight: 200;
  }
}

@media (max-width: 767px) {
  .banner {
    padding-top: 40px;

    h1 {
      font-size: 80px;
    }
  }
}

// Home page

.home {
  .stack {
    padding-top: 35px;
    padding-bottom: 35px;

    h2 {
      font-size: 57px;
      color: $text-color;
      letter-spacing: -1px;
      margin-top: 0px;

      a {
        &:hover {
          color: $link-color-bright;
          text-decoration: none;
        }
      }
    }

    p {
      margin-top: 27px;
      font-size: 24px;
      font-weight: 200;
    }

    .logo-heading {
      img {
        width: 43px;
        margin-top: -28px;
        margin-left: -5px;
        margin-right: 4px;
      }

      h2 {
        display: inline;
      }
    }
  }
}

// Project page

.project {
  .index-header .github-btn {
    padding-top: 4px;
    margin-top: 30px;
    margin-left: 10px;
    padding-left: 10px;
    display: inline-block;
  }

  .feature {
    padding-top: 55px;
    padding-bottom: 35px;

    h2 {
      font-size: 57px;
      color: $text-color;
      letter-spacing: -1px;
      margin-top: 0px;

      a {
        &:hover {
          color: $link-color-bright;
          text-decoration: none;
        }
      }
    }

    p {
      margin-top: 33px;
      font-size: 24px;
      font-weight: 200;
    }

    img {
      width: 250px;
    }

    .svg  {
      width: 250px;
      
      path {
        fill: $icon-color;
      }
    }

    .nav-tabs {
      border: none;

      li {
        margin-bottom: 0px;

        a, a:hover {
          border: 1px solid $dark-gray;
        }

        &.active a {
          border: 1px solid $code-bg-color-dark;
          background-color: $code-bg-color-dark;
          color: $white;
        }
      }
    }

    pre {
      border: 0px;
      border-radius: 10px;
      border-top-left-radius: 0px;
      background-color: $code-bg-color-dark;

      code {
        min-height: 250px;
        margin-bottom: 0px;

        &.hljs {
          background-color: $code-bg-color-dark;
          color: #F4F4F5;
        }
      }
    }

    &.intro {
      background-color: $white;
      padding-top: 23px;
      padding-bottom: 43px;

      h2 {
        font-size: 42px;
      }

      p {
        font-size: 21px;
      }
    }

    &.get-started {
      padding-bottom: 0px;

      h2 {
        color: $white;
      }

      .doc-btn {
        color: $nav-color;
        margin-top: 27px;
        margin-right: 5px;
        font-size: 23px;
      }
    }
  }
}

// Info page

.info {
  h2 {
    border-left: 8px solid $header-color;
    margin-top: 0px;
    padding: 10px 15px;
  }

  h3 {
    color: $text-color;
  }

  // Documentation page

  .documentation {
    .project {
      p {
        margin-top: 10px;
      }

      .logo-heading {
        margin-top: 18px;

        img {
          width: 36px;
          margin-top: -10px;
          margin-left: -5px;
          margin-right: 4px;
        }

        h3 {
          display: inline;
        }
      }
    }
  }

  // Community page

  .community {
    .contributor {
      margin-top: 10px;
      margin-bottom: 15px;

      .svg {
        height: 20px;

        path {
          fill: $icon-color;
        }
      }

      .contributor-left {
        display: table-cell;

        img {
          width: 75px;
          height: 75px;
          border-radius: 5px;
        }
      }

      .contributor-body {
        display: table-cell;
        vertical-align: top;
        padding-left: 14px;

        h4 {
          margin-top: 0px;
        }
      }
    }
  }
}

// Docs page

.docs {
  line-height: 1.5em;
  font-family: $doc-fonts;
  font-size: 15px;

  .doc-index {
    h2, h4 {
      color: $text-color;
    }

    h2 {
      margin-bottom: 20px;
    }

    p {
      margin-top: 8px;
    }
  }

  h1, h2, h3, h4, h5 {
    margin-top: 20px;
  }

  h2, h4 {
    /*color: #038FA7;*/
    color: $link-color-bright;
  }

  h1, h3, h5 {
    /*  color: #038FA7;*/
    color: $link-color-bright;
  }

  p {
    margin-top: 20px;
  }

  img {
    max-width: 100%;
  }

  pre > code {
    background-color: $code-bg-color;
  }

  code {
    padding: 1px 1px;
  }

  blockquote {
    margin: 20px 0px 25px;
    font-style: italic;
    border-left: 5px solid $link-color;
    font-family: $heading-fonts;

    p {
      margin-top: 0px;
    }
  }

  #toc ul, #doc-index ul {
    padding-left: 20px;
    list-style-position: inside;
  }

  #toc > ul > li, #doc-index > ul > li > ul {
    display: none;
  }

  .pitch {
    color: $pitch-color;
    margin-top: 0px;
    margin-bottom: 32px;
    font-style: italic;
  }

  .nav-tabs {
    margin-bottom: 13px;
  }

  .tab-pane {
    display: none;

    &.active {
      display: block;
    }
  }
}

// Sidebar

#sidebar {
  padding: 0;
  font-size: 15px;

  ul {
    list-style: none;

    > .active > a, > .current > a {
      color: $link-color-bright;
    }
  }

  > ul {
    padding-left: 10px;
  }

  > ul {
    > li > ul li {
      padding-left: 20px;
    }

    ul {
      display: none;
      padding-left: 0px;
      padding-right: 0px;
    }
  }

  li a {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  ul > li > a {
    padding-bottom: 5px;
    padding-left: 5px;
    position: relative;
    display: block;
  }
}

@media screen and (min-width: 992px) {
  #sidebar {
    ul > .active > ul, ul > .current > ul {
      display: block;
    }

    &.affix, &.affix-bottom {
      width: 213px;
    }

    &.affix {
      position: fixed;

      /* Undo the static from mobile first approach */
      top: 80px;
    }

    &.affix-bottom {
      position: absolute;

      /* Undo the static from mobile first approach */
    }
  }
}

@media screen and (min-width: 1200px) {
  /* Widen the fixed sidebar again */

  #sidebar {
    &.affix-bottom, &.affix {
      width: 263px;
    }
  }
}

// Footer

footer {
  background-color: $footer-bg-color;
  padding-top: 20px;
  padding-bottom: 27px;
  margin-top: 50px;

  h3, h4 {
    color: $text-color;
  }

  .license {
    margin-top: 19px;
  }
}

// Callouts

.callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid $callout-border-color;
  border-left-width: 5px;
  border-radius: 3px;

  h4 {
    margin-top: 0;
    margin-bottom: 5px;
  }

  p:last-child {
    margin-bottom: 0;
  }

  code {
    border-radius: 3px;
  }

  + .callout {
    margin-top: -5px;
  }

  &.callout-info {
    border-left-color: $callout-info-color;

    h4 {
      color: $callout-info-color;
    }
  }

  &.callout-warning {
    border-left-color: $callout-warning-color;

    h4 {
      color: $callout-warning-color;
    }
  }

  &.callout-danger {
    border-left-color: $callout-danger-color;

    h4 {
      color: $callout-danger-color;
    }
  }
}
