---
---

/* Colors */
$text-color: #333;

$link-color: #009DB7;
$link-color-bright: #FF2D62; //#d14;

$nav-color: #038fa7;
$nav-separator-color: #e7e7e7;

$code-color: rgb(51, 51, 51);
$code-bg-color: #f5f5f5;

$header-color: #01768a;
$pitch-color: #848484;

$footer-bg-color: #eee;
$footer-border-color: #e7e7e7;

$callout-border-color: #eee;
$callout-info-color: #5bc0de;
$callout-warning-color: #f0ad4e;
$callout-danger-color: #d14;

/* Fonts */
$heading-fonts: 'Open Sans', sans-serif;
$content-fonts: "Helvetica Neue",Helvetica,Arial,sans-serif;

/** GENERAL */

html {
  /* For sticky footer */
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  padding-top: 50px;
  font-size: 16px;
}

a {
  color: $link-color;
}

h1 {
  font-size: 46px;
}

code {
  color: $code-color;
  background-color: $code-bg-color;
}

@media (max-width: 1456px) {
  #reactive-ribbon {
    display: none;
  }
}

.doc-btn {
  color: $nav-color;
  margin-top: 27px;
  margin-right: 5px;
  font-size: 23px;
}

body, h1, h2, h3, h4, h5, p > strong, .nav {
  font-family: $heading-fonts;
}

/*
 * Scroll to the correct anchor position for top-fixed nav.
 * http://stackoverflow.com/questions/10732690/offsetting-an-html-anchor-to-adjust-for-fixed-header
 */
.container {
  h2[id]:before {
    content: "";
    display: block;
    height: 2.25em;
    margin-top: -2.25em;
  }

  h3[id]:before {
    content: "";
    display: block;
    height: 2.5em;
    margin-top: -2.5em;
  }

  h4[id]:before {
    content: "";
    display: block;
    height: 3.25em;
    margin-top: -3.25em;
  }
}

/* Navbar */

.navbar {
  font-size: 18px;
  background-color: #fff;
  /*background-color: #eee;*/

  .navbar-brand {
    font-weight: 600;
    letter-spacing: 1px;
    padding-top: 18px;
    
    .navbar-brand-logo {
      padding: 18px 20px;
      background-repeat: no-repeat;
      background-size: 36px 36px;
      background-position: left center;
    }
  }

  .navbar-nav {
    padding-top: 10px;
    padding-bottom: 10px;

    li > a {
      color: $link-color;
      padding-top: 10px;
      padding-bottom: 10px;
    }

    li:not(:last-child) {
      border-right: 2px solid $nav-separator-color;
    }
  }
}

/* Header */

.header, .index-header .background-color {
  background-color: $header-color;

  /*background-color: #0C6979;*/
  /*rgba(23, 153, 179, 0.89)*/
}

.header h1, h2, h3, h4, h5 {
  color: #fff;
}

/** Index page */

body.index {
  background-color: $header-color;
}

.index-header {
  /*  background: linear-gradient(to bottom, rgba(255,255,255,.5) 0%, rgba(255,255,255,.5) 100%), url(../img/boxes.png);*/
  background-size: 150px;
}

.banner {
  padding-top: 68px;
  padding-bottom: 63px;

  h1 {
    font-size: 100px;
    padding-bottom: 19px;
    font-family: $content-fonts;
    font-weight: bold;
  }

  h2 {
    font-weight: 200;
  }

  .github-btn {
    padding-top: 4px;
    margin-top: 30px;
    margin-left: 10px;
    padding-left: 10px;
    display: inline-block;
  }
}

@media (max-width: 767px) {
  .banner {
    padding-top: 40px;

    h1 {
      font-size: 80px;
    }
  }
}

.highlight {
  padding-top: 55px;
  padding-bottom: 45px;

  h2 {
    font-size: 57px;
    color: $text-color;
    letter-spacing: -1px;
    margin-top: 0px;

    a {
      &:hover {
        color: $link-color-bright;
        text-decoration: none;
      }
    }
  }

  p {
    margin-top: 33px;
    font-size: 24px;
  }

  img {
    width: 250px;
  }

  .svg  {
    width: 250px;
    
    path {
      fill: #212121;
    }
  }

  &.highlight-white {
    background-color: #fff;
  }

  &.highlight-gray {
    background-color: #eee;
  }

  &.highlight-dark-gray {
    background-color: #d4d4d4;
  }

  &.highlight-get-started h2 {
    color: #FFF;
  }

  &.stack {
    padding-top: 35px;
    padding-bottom: 35px;

    p {
      margin-top: 27px;
    }
  }

  &.highlight-intro {
    background-color: #fff;
    padding-top: 23px;
    padding-bottom: 43px;

    h2 {
      font-size: 42px;
    }

    p {
      font-size: 21px;
      // text-indent: 25px;
    }
  }

  /* Front page code styles */
  $code-bg-color: #474949;

  pre {
    border: 0px;
    border-radius: 10px;
    border-top-left-radius: 0px;
    background-color: $code-bg-color;

    code {
      min-height: 250px;
      margin-bottom: 0px;

      &.hljs {
        background-color: $code-bg-color;
        color: #F4F4F5;

        .hljs-command, .hljs-string, .hljs-tag .hljs-value, .hljs-doctag, .tex .hljs-formula, .hljs-regexp, .hljs-hexcolor {
          color: #FF97FA;
        }

        .hljs-keyword, .clojure .hljs-attribute, .hljs-winutils, .javascript .hljs-title, .hljs-addition, .css .hljs-tag {
          color: #F36; 
        }

        .hljs-class .hljs-title, .smalltalk .hljs-class, .hljs-doctag, .hljs-type, .hljs-typename, .hljs-tag .hljs-attribute, .hljs-doctype, .hljs-class .hljs-id, .hljs-built_in, .setting, .hljs-params, .hljs-variable, .hljs-name {
          color: #ECA2EC;
        }

        .hljs-number {
          color: #E8A954;
        }
      }
    }
  }

  /* Code nav tabs */
  .nav-tabs {
    border: none;

    li {
      margin-bottom: 0px;

      a, a:hover {
        border: none;
      }

      &.active a {
        border: none;
        background-color: $code-bg-color;
        color: #fff;
      }
    }
  }
}

/* Content pages */

.page-header {
  margin: 0 0 25px;
  padding: 16.5px 0 22px;
}

.doc-container {
  margin-top: 40px;
}

.docs {
  line-height: 1.5em;
  font-family: 'Merriweather', sans-serif;
  font-size: 15px;

  .no-margin-top {
    margin-top: 0px;
  }

  h1, h2, h3, h4, h5 {
    margin-top: 20px;
  }

  h2, h4 {
    /*color: #038FA7;*/
    color: $link-color-bright;
  }

  h1, h3, h5 {
    /*  color: #038FA7;*/
    color: $link-color-bright;
  }

  p {
    margin-top: 20px;
  }

  > ul, #toc > ul, #user-manual-index {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  img {
    max-width: 100%;
  }

  pre > code {
    background-color: $code-bg-color;
  }

  code {
    padding: 1px 1px;
  }

  blockquote > p {
    margin: 0px;
  }

  #toc > ul > li, #user-manual-index ul > li > ul {
    display: none;
  }

  .pitch {
    color: $pitch-color;
    margin-top: 0px;
    margin-bottom: 32px;
    font-style: italic;
  }

  .tab-pane {
    display: none;

    &.active {
      display: block;
    }
  }
}

/* Sidebar */

@media screen and (min-width: 992px) {
  #sidebar {
    ul > .active > ul, ul > .current > ul {
      display: block;
    }

    &.affix, &.affix-bottom {
      width: 213px;
    }

    &.affix {
      position: fixed;

      /* Undo the static from mobile first approach */
      top: 80px;
    }

    &.affix-bottom {
      position: absolute;

      /* Undo the static from mobile first approach */
    }
  }
}

@media screen and (min-width: 1200px) {
  /* Widen the fixed sidebar again */

  #sidebar {
    &.affix-bottom, &.affix {
      width: 263px;
    }
  }
}

#sidebar {
  padding: 0;
  font-size: 15px;

  ul {
    list-style: none;

    > .active > a, > .current > a {
      color: $link-color-bright;
    }
  }

  > ul {
    padding-left: 10px;
  }

  > ul {
    > li > ul li {
      padding-left: 20px;
    }

    ul {
      display: none;
      padding-left: 0px;
      padding-right: 0px;
    }
  }

  li a {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  ul > li > a {
    padding-bottom: 5px;
    padding-left: 5px;
    position: relative;
    display: block;
  }
}

/* Footer */

.push {
  height: 30px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /** Fixed height of footer */
  // height: 60px;
  background-color: $footer-bg-color;
  border-top: 1px solid $footer-border-color;

  .credit {
    margin: 19px 0;
    text-align: center;
  }

  > .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

/* Callouts */

.callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid $callout-border-color;
  border-left-width: 5px;
  border-radius: 3px;

  h4 {
    margin-top: 0;
    margin-bottom: 5px;
  }

  p:last-child {
    margin-bottom: 0;
  }

  code {
    border-radius: 3px;
  }

  + .callout {
    margin-top: -5px;
  }

  &.callout-info {
    border-left-color: $callout-info-color;

    h4 {
      color: $callout-info-color;
    }
  }

  &.callout-warning {
    border-left-color: $callout-warning-color;

    h4 {
      color: $callout-warning-color;
    }
  }

  &.callout-danger {
    border-left-color: $callout-danger-color;

    h4 {
      color: $callout-danger-color;
    }
  }
}
