<!DOCTYPE html>
<html lang="en">
{% include head.html %}
	<body>

<div id="wrap">

{% include header.html %}

  <div class="container">
  	<div class="row">
        <div class="col-md-9" id="content">
{{ content }}
        </div>
        <div class="col-md-3 hidden-sm hidden-xs" id="sidebar">
          <div class="nav nav-stacked well affix" id="nav">
{% if page.menu == "getting-started" %}
{% capture sidemenu %}{% include getting-started-menu.md %}{% endcapture %}
{% elsif page.menu == "user-manual" %}
{% capture sidemenu %}{% include user-manual-menu.md %}{% endcapture %}
{% endif %}
{{ sidemenu | markdownify }}
          </div>
        </div>
    	</div>
  </div>

</div>

{% include footer.html %}

{% include scripts.html %}

<!-- Adjust sidebar links -->
<script type="text/javascript">
$("#nav > ul > li > a").each(function() {
  var parentRef = $(this).attr('href');
  $(this).attr('href', '{{ site.baseurl }}/{{ page.menu }}/' + parentRef);
  // if (window.location.href.indexOf(parentRef) > -1) {
  //   $(this).parent().find("ul").each(function () {
  //     $(this).css('display', 'block');
  //   });
  // }
});
</script>

	</body>
</html>