<!DOCTYPE html>
<html lang="en">
{% include {{ page.project }}/vars.inc %}
  <head>
{% include head.html %}
    <link href="/assets/css/styles/googlecode.css" rel="stylesheet">
  </head>
	<body>

{% include header.html %}

<div class="header page-header">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1>{{ page.title }}</h1>
      </div>
    </div>
  </div>
</div>

<div class="doc-container container content">
	<div class="row">
{% if page.menu %}
    <div class="col-md-9 docs">
{% else %}
    <div class="col-md-12 docs">
{% endif %}

{% if page.pitch %}
<h2 class="pitch" id="{{ page.first-section }}">&#62; {{ page.pitch }}</h2>
{% endif %}

{% capture pagemenu %}{{ page.project }}/{{ page.menu }}-menu.md{% endcapture %}
{% if page.menu %}
      <div class="hidden-md hidden-lg" id="toc">
        <h3>Table of Contents</h3>
  {% capture toc %}{% include {{ pagemenu }} %}{% endcapture %}
  {{ toc | markdownify }}
      </div>
{% endif %}

{{ content }}
    </div><!-- End col -->

{% if page.menu %}
      <div class="col-md-3 hidden-xs hidden-sm" id="sidebar-col" >
        <div class="nav affix-top" id="sidebar">
  {% capture sidemenu %}{% include {{ pagemenu }} %}{% endcapture %}
  {{ sidemenu | markdownify }}
        </div>
      </div>
{% endif %}

  </div>
</div>

{% include footer.html %}

{% include scripts.html %}

<script type="text/javascript">
  var currentPath = window.location.pathname

  function adjustHref(href) {
    return '/{{ page.project }}/{{ page.menu }}/' + href;
  }

  // Adjust user manual TOC when for small screens
  $("#toc > ul > li > a").each(function() {
    var href = $(this).attr('href');
    if (currentPath.indexOf(href) > -1) 
      $(this).parent().css('display', 'block');
    $(this).attr('href', adjustHref(href));
  });

  // Adjust sidebar links
  $("#sidebar > ul > li > a").each(function() {
    var parentRef = $(this).attr('href');

    // Activate current sidebar item
    if (currentPath.indexOf(parentRef) > -1) {
      $(this).parent().attr('class', 'current');
    }
    
    newRef = adjustHref(parentRef);
    $(this).attr('href', newRef);
    $(this).attr('data-target', '#' + parentRef);
    
    $(this).parent().find("ul > li a").each(function () {
      var childHref = $(this).attr('href');
      $(this).attr('data-target', childHref);
    });
  });
</script>

	</body>
</html>