<!DOCTYPE html>
<html lang="en">
{% include vars.inc %}
  <head>
{% include head.html %}
    <link href="/assets/css/styles/googlecode.css" rel="stylesheet">
  </head>
	<body>

{% include navbar.html %}

<div class="content-header">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1>{{ page.title }}</h1>
      </div>
    </div>
  </div>
</div>

<div class="container docs-container flex">
	<div class="row">
        <table class="releases">
            {% for release in site.data.releases %}
            <tr>
                <td>{{ release }}</td>
                <td><a href="https://oss.sonatype.org/content/repositories/releases/io/atomix/atomix-dist/{{ release }}/atomix-dist-{{ release }}.zip">zip</a></td>
                <td><a href="https://oss.sonatype.org/content/repositories/releases/io/atomix/atomix-dist/{{ release }}/atomix-dist-{{ release }}.tar.gz">tar.gz</a></td>
            </tr>
            {% endfor %}
        </table>
  </div>
</div>

{% include footer.html %}

{% include scripts.html %}

<script type="text/javascript">
  // lightbox
  $(document).delegate('*[data-toggle="lightbox"]', 'click', function(event) {
      event.preventDefault();
      $(this).ekkoLightbox();
  });

  // Add link to heading tags
  $(".docs h1, .docs h2, .docs h3, .docs h4, .docs h5").each(function () {
    var id = $(this).attr('id');
    if ($(this).attr('class') != "pitch")
      $(this).append('<a class="header-anchor" href="#' + id + '"></a>');
  });
</script>

	</body>
</html>