<!DOCTYPE html>
<html lang="en">
{% include vars.inc %}
<head>
    {% include head.html %}
    <link href="/assets/css/styles/rainbow.css" rel="stylesheet">
</head>
<body class="colored-background">

{% include navbar.html %}

<div class="flex project">
    <div class="index-header" id="content">
        <div class="container">
            <div class="banner text-center">
                <h1>{{ project-name }}</h1>
                <h2>{{ project-title }}</h2>
                <div class="text-center">
                    <a href="/getting-started" class="btn btn-default btn-lg doc-btn">Getting Started</a>
                </div>
                <span class="github-btn"><iframe src="https://ghbtns.com/github-btn.html?user=atomix&amp;repo={{ page.project }}&amp;type=star&amp;count=true&amp;size=large" frameborder="0" scrolling="0" width="160px" height="30px"></iframe></span>
            </div>
        </div>
    </div>
    {{ content }}
</div>

{% include footer.html %}

{% include scripts.html %}

</body>
</html>
