<!DOCTYPE html>
<html lang="en">
{% include {{ page.project }}/vars.inc %}
  <head>
{% include head.html %}
    <link href="/assets/css/styles/rainbow.css" rel="stylesheet">
  </head>
  <body class="index">

{% include header.html %}

<div class="header index-header" id="content">
  <div class="background-color">
    <div class="container">
      <div class="banner text-center">
        <h1>{{ project-name }}</h1>
        <h2>{{ project-title }}</h2>
        <span class="github-btn"><iframe src="https://ghbtns.com/github-btn.html?user=atomix&amp;repo={{ page.project }}&amp;type=star&amp;count=true&amp;size=large" frameborder="0" scrolling="0" width="160px" height="30px"></iframe></span>
      </div>
    </div>
  </div>
</div>

<div class="content">
{{ content }}
</div>

{% include footer.html %}

{% include scripts.html %}

  </body>
</html>
