<!DOCTYPE html>
<html lang="en">
{% include vars.inc %}
  <head>
{% include head.html %}
    <link href="/assets/css/styles/googlecode.css" rel="stylesheet">
  </head>
  <body>

{% include navbar.html %}

<div class="content-header">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1>{{ page.title }}</h1>
      </div>
    </div>
  </div>
</div>

<div class="container docs-container flex">
  <div class="row">
{% if page.menu %}
    <div class="col-md-9 docs">
{% else %}
    <div class="col-md-12 docs">
{% endif %}

{% if page.pitch %}
<h2 class="pitch" id="{{ page.first-section }}">&#62; {{ page.pitch }}</h2>
{% endif %}

{% capture pagemenu %}{{ page.menu }}-menu.md{% endcapture %}
{% if page.menu %}
      <div class="hidden-md hidden-lg" id="toc">
        <h3>Table of Contents</h3>
  {% capture toc %}{% include {{ pagemenu }} %}{% endcapture %}
  {{ toc | markdownify }}
      </div>
{% endif %}

{{ content }}
    </div><!-- End col -->

{% if page.menu %}
      <div class="col-md-3 hidden-xs hidden-sm" id="sidebar-col" >
        <div class="nav affix-top" id="sidebar">
  {% capture sidemenu %}{% include {{ pagemenu }} %}{% endcapture %}
  {{ sidemenu | markdownify }}
        </div>
      </div>
{% endif %}

  </div>
</div>

{% include footer.html %}

{% include scripts.html %}

<script type="text/javascript">

  // lightbox
  $(document).delegate('*[data-toggle="lightbox"]', 'click', function(event) {
    event.preventDefault();
    $(this).ekkoLightbox();
  });

  var currentPath = location.pathname.replace(/\?.+/, '').replace(/\#.+/, '').replace(/\/+$/, '');

  (function($) {
    var allPanels = $('#sidebar > div').hide();
    var activePanel = $('#sidebar div ul li a').filter(function(){
      return $(this).prop('href').indexOf(currentPath) != -1;
    }).closest('div');
    activePanel.slideDown();

    $('#sidebar > h3').click(function() {
      allPanels.slideUp();
      var panel = $(this).next();
      if (!panel.is(":visible")) {
        panel.slideDown();
      } else {
        panel.slideUp();
      }
      return false;
    });
  });

</script>

  </body>
</html>